/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* Menú hamburguesa */
.menu-hamburguesa {
    display: none; /* Visible solo en móviles */
    cursor: pointer;
    flex-direction: column;
}

.menu-hamburguesa .linea {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Ocultar el menú en móviles por defecto */
.menu {
    display: flex;
}

@media (max-width: 768px) {
    /* Mostrar el menú hamburguesa en pantallas pequeñas */
    .menu-hamburguesa {
        display: flex;
    }
    
    /* Ocultar el menú en dispositivos móviles */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 5px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }
    
    .menu a {
        margin: 10px 0;
    }
    
    /* Mostrar el menú cuando esté activo */
    .menu.active {
        display: flex;
    }
}
