#about:target {
  
}

#about {
  display: flex;
  padding-top: 10em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about{
  font-family: "Pacifico", cursive;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 5em 5em;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;

}

@media screen and (max-width: 768px) {

  #about:target {
      display: flex;
      /* Muestra como flex cuando es objetivo */
    }
  
    #about {
      padding-top: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .about{
      font-family: "Pacifico", cursive;
  }
  
  .presentacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3em 1em 1em;
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
  
  }


}