#about:target {
  
}

#about {
  display: flex;
  padding-top: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-about {
  display: flex;
  flex-direction: row;
}

.icono-flecha {
  width: 5%;
  margin-top: 0%;
  transform: rotate(40deg);
}

.iconos-dev {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:end;
  padding: 0em 3em;
}

.icono-dev {
  width: 80%;
  transform: rotate(-15deg);
  margin-right: 50px;
  
}

.icono-respon {
  width: 80%;
  transform: rotate(15deg);
}

.icono-hobby {
  width: 80%;
transform: rotate(15deg);
}

.icono-adventure {
  width: 80%;
  transform: rotate(-15deg);
  margin-right: 50px;
}


.iconos-hobby {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:end;
  padding: 0em 3em;
}

.about{
  font-family: "Pacifico", cursive;
}

.presentacion {
  padding: 1em 5em;
}

.text-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;

}

@media screen and (max-width: 768px) {

  #about:target {
      display: flex;
      /* Muestra como flex cuando es objetivo */
    }
  
    #about {
      padding-top: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .about{
      font-family: "Pacifico", cursive;
      font-size: 40px;
  }
  
  .presentacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em 0em;
      font-weight: 400;
      font-style: italic;
      margin-top: 20px;
  }

  .text-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 450;
    font-style: italic;
  
  }

  .contenedor-about {
    display: flex;
    flex-direction: column;
  }

  .icono-flecha {
    width: 25%;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */
    margin-top: 5%;
    transform: rotate(40deg);
  }

  .iconos-dev {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:end;
    padding: 0em 3em;
  }

  .icono-dev {
    width: 25%;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */

    transform: rotate(-15deg);
    margin-right: 50px;
    
  }
  
  .icono-respon {
    width: 25%;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */

    transform: rotate(15deg);
  }

  .iconos-hobby {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:end;
    padding: 0em 0em;
  }
  
  .icono-hobby {
    width: 30%;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */

  transform: rotate(15deg);
  }
  
  .icono-adventure {
    width: 25%;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */

    transform: rotate(-15deg);
    margin-right: 50px;
  }
  
  
  .iconos-hobby {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:end;
    padding: 0em 3em;
  }


}