
#contact {
  display: flex;
  padding-top: 3em ;
  padding-bottom: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo del formulario */

#form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Color blanco con transparencia */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Difuminado del fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  border: 1px solid rgba(212, 212, 212, 0.2); /* Borde blanco semi-transparente */
}

.text-contact {
  margin-top: 0;
  color: #202020;
  text-align: center;
  
  font-family: "Pacifico", cursive;
}

.text-contact1 {
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
}

.contacto_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.contenedor-contact{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.icono-info {
  width:80px;
  margin: 10px;
}

/* Estilo de las etiquetas y los inputs */
label {
  font-weight: bold;
  color: #212121;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Estilo del botón */
.button-send {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button-send:hover {
  background-color: #45a049;
}

/* Estilo del mensaje de respuesta */
#responseMessage {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#responseMessage.success {
  color: #4CAF50;
}

#responseMessage.error {
  color: #FF0000;
}

#contactForm {
  width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Color blanco con transparencia */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Difuminado del fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  border: 1px solid rgba(212, 212, 212, 0.2); /* Borde blanco semi-transparente */
}

#contact {
  display: flex;
  padding-top: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {


  #contact {
    display: flex;
    padding-top: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #form {
      width: 80%;
      padding: 20px;
      background: rgba(255, 255, 255, 0.1); /* Color blanco con transparencia */
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px); /* Difuminado del fondo */
      -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
      border: 1px solid rgba(212, 212, 212, 0.2); /* Borde blanco semi-transparente */
    }

    .logo-plane {
      width: 30px;
    }

    .text-contact1 {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 30px;
    }

    .contacto_info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1em;
    }
    
    .contenedor-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .icono-info {
      width:50px;
      margin: 10px;
    }
}