#contact:target {
    display: flex;
    /* Muestra como flex cuando es objetivo */
  }
  
  /* Estilos específicos para la sección #about */
  #contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  
  }

  
  .contenedor-contact {
    display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: space-around; /* Distribuye el espacio uniformemente */
  height: 180px; /* Asigna un alto para que se vea el espacio entre los elementos */
    

  }
  
  .button-github {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: solid black 2px;
    transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la animación */
    transition: background-color 0.3s ease-inout;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); /* Sombra inicial */
    position: relative; /* Necesario para que funcione el efecto */
  }
  
  .button-github:hover {
    transform: translateY(-4px) translateX(-2px); /* Efecto 3D de elevación */
    box-shadow: 2px 5px 0 0 black; /* Ajusta la sombra para darle profundidad */
    background-color: rgb(49, 49, 49);
    color: white;
  }
  
  .button-github:active {
    transform: translateY(2px) translateX(1px); /* Acentúa el efecto al presionar */
    box-shadow: 0 0 0 0 black; /* Elimina la sombra */
  }

  .button-telegram {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: solid black 2px;
    transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la animación */
    transition: background-color 0.3s ease-inout;
    box-shadow: 0px 0px 0px 0px black; /* Sombra inicial */
    position: relative; /* Necesario para que funcione el efecto */
  }
  
  .button-telegram:hover {
    transform: translateY(-4px) translateX(-2px); /* Efecto 3D de elevación */
    box-shadow: 2px 5px 0 0 black; /* Ajusta la sombra para darle profundidad */
    background-color: rgb(0, 183, 255);
    color: rgb(255, 255, 255);
    
  }
  
  .button-telegram:active {
    transform: translateY(2px) translateX(1px); /* Acentúa el efecto al presionar */
    box-shadow: 0 0 0 0 black; /* Elimina la sombra */
  }


  .button-whatsapp {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: solid black 2px;
    transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la animación */
    transition: background-color 0.3s ease-inout;
    box-shadow: 0px 0px 0px 0px black; /* Sombra inicial */
    position: relative; /* Necesario para que funcione el efecto */
  }
  
  .button-whatsapp:hover {
    transform: translateY(-4px) translateX(-2px); /* Efecto 3D de elevación */
    box-shadow: 2px 5px 0 0 black; /* Ajusta la sombra para darle profundidad */
    background-color: rgb(0, 255, 106);
    color: rgb(255, 255, 255);
    
  }
  
  .button-whatsapp:active {
    transform: translateY(2px) translateX(1px); /* Acentúa el efecto al presionar */
    box-shadow: 0 0 0 0 black; /* Elimina la sombra */
  }



  
  