

main {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 70px;
  }
  
  .card {
    width: 670px;
    height: 400px;
    background-color: #24233b;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0px 10px 10px rgb(73, 70, 92);
    transition: 0.5s;
  }
  
  .card:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px black;
  }
  
  .top {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .header {
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .title {
    margin: auto;
  }
  
  #title2 {
    color: rgb(2, 2, 2);
    font-size: 20px;
    margin-right: 70px;
  }
  
  .code-container {
    text-align: center;
  }
  #code {
    width: 650px;
    height: 470px;
    resize: none;
    background-color: rgb(73, 70, 92);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
  }
  #code:focus {
    outline: none !important;
  }
  
  .code-container {
    font-size: larger;
  }
  
  
  .code-editor {
    max-width: 300px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
  }
  
  /* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */
  
  .card-presentation {
    --font-color: #fefefe;
    --font-color-sub: #d8cece;
    --bg-color: rgb(73, 70, 92);
    --main-color: #fefefe;
    width: 220px;
    height: 297px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-photo {
    width: 150px;
    height: 150px;
    border-radius:50%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  .card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .card-title {
    text-align: center;
    color: var(--font-color) !important;
    font-size: 20px;
    font-weight: 500;
  }
  
  .card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 10px;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .card-presentation:hover > .card-socials {
    opacity: 1;
    height: 35px;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }
  
  .links {
    margin: auto;
    padding: 0px;
  }
  
  
  
  
  @media screen and (max-width: 768px) {
    .navbar-toggler {
        order: -1; /* Cambia el orden para colocar el botón del toggle al principio */
    }
  
    .collapse {
        margin-top: 10px;
    }
  
    .nav-item {
        margin: 5px;
    }
  
  
    main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
    }
  
    .card {
      width: 390px;
      height: 100px;
      margin: 0 auto;
      background-color: #24233b;
      border-radius: 8px;
      z-index: 1;
      box-shadow: 0px 10px 10px rgb(73, 70, 92);
      transition: 0.5s;
    }
  
    #code {
      width: 370px;
      height: 500px;
      resize: none;
      background-color: rgb(73, 70, 92);
      border-radius: 5px;
      border: none;
      color: white;
      padding: 10px;
    }
  
    .code-container {
      font-size:medium;
    }
  
    .card-presentation {
      --font-color: #fefefe;
      --font-color-sub: #c0bfbf;
      --bg-color: rgb(73, 70, 92);
      --main-color: #fefefe;
      width: 200px;
      height: 274px;
      background: var(--bg-color);
      border: 2px solid var(--main-color);
      box-shadow: 4px 4px var(--main-color);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
  
    .card-photo {
      width: 130px;
      height: 130px;
      border-radius:50%;
      overflow: hidden; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      
    }
    
    .card-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    
  }