

#work {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work{
  font-family: "Pacifico", cursive;
}

.logo-work{
  width: 70px;
  padding-bottom: 35px;
}

.card a {
  text-decoration: none;
  color: black;
  
}

.card-body {
  
  background-color: rgba(170, 170, 170, 0.377);
}

/* Estilos básicos de la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding:1em;
}

.gallery {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.gallery .card {
  width: 250%;
  height: auto;
  transition: transform 0.3s ease;
}


.gallery .card:hover {
  transform: scale(1.05);
}

.projects-text {
  padding: 1em 20em;
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
}

.icono-bombilla {
  margin-top: 20px;
  width: 50px;
}




@media screen and (max-width: 768px) {

  #work:target {
      display: flex;
      /* Muestra como flex cuando es objetivo */
    }
  
    #work {
      padding-top: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .logo-work{
      width: 50px;
      padding-bottom: 30px;
  }

  .gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 1em;
  }

  .gallery .card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .projects-text {
    padding: 1em 1em;
    font-size: 1.2em;
    font-weight: 450;
    font-style: italic;
  }
}
