
#icono-ojo {
    cursor: pointer;
    color: #ffffff;

}

#btnCambioModo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 15px;
    font-size: 20px;
}

#limpiar-localstorage-btn {
    background-color: rgb(226, 19, 19);
    color: antiquewhite;
}

.modoNoche {
    background:#47484d;
}

.modoNoche h1 {
    color: aliceblue;
}

.modoNoche label {
    color: aliceblue;
}

.modoNoche #limpiar-localstorage-btn {
    background-color: rgb(38, 199, 60);
}